nav a.active{
    
    border-bottom: 1px solid #FF6060;
}

nav {
 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    padding-right: 1rem;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 560px){
    nav{
        padding-right: 1rem;
        width: 150px;
        display: flex;
        justify-content: space-between;

    }
}